
#video-div{
  height: 100%;
  justify-items: center;
  align-items: center;
}

#main{
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#quote{
  flex: auto;
  color: forestgreen;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video{
  flex: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }